/* Webpage CSS */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #333;
}

.logo-img {
    width: 500px;
    border-radius: 5px;
    height: auto;
}

.hours, .appointment, .directions {
    text-align: center;
}

.directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -5px;
}

.h4 {
    margin: 5px 0;
    font-size: 25px;
}

.h6 {
    margin: 3px 0;
    font-size: 15px;
}

.tel-link, .direction-link {
    color: navy;
    text-decoration: none;
}

.tel-link:hover, .direction-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: navy;
}

.icon-links-container {
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-header {
    width: 30px;
    height: 30px;
    margin: -10px 10px;
    filter: invert(30%);
}

.icon-header:hover {
    width: 30px;
    height: 30px;
    margin: -10px 10px;
    filter: invert(0%);
    cursor: pointer;
}

/* Phone CSS */
@media (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .logo-img {
        max-width: 200px;
        align-items: center;
    }

    .logo-img, .hours, .appointment, .directions {
        margin-bottom: 10px;
    }

    .h4 {
        font-size: 15px;
    }

    .h6 {
        font-size: 12px;
    }

    .tel-link, .direction-link {
        color: navy;
    }
    .icon-links-container {
    display: flex;
    justify-content: center;
    }

    .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    }

    .icon-header {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    }
}